*
{
    will-change: unset !important;
}

body {
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

#filters {
    width: calc(66vw - 20px);
    margin: 0;
    padding: 10px;
    font-size: 12pt;
    font-weight: bold;
}

#filters hr {
    margin: 5px 0 0 0;
    border: none;
}

#main {
    width: calc(66vw - 20px);
    column-count: 4;
    overflow: scroll;
    margin: 0;
    padding: 10px;
}

div.feed {
    break-inside: avoid-column;
}

div.feed:not(:has(li)) {
    display: none;
}

#filters:has(#allcats:checked)~#main div.feed.hide {
    display: none;
}

h1 {
    font-size: 12pt;
    font-weight: bold;
}

div.feed > ul {
    margin: 0;
    padding: 0;
}

li.entry {
    display: inline;
}

li.entry > span {
    font-weight: bold;
}

a {
    color: #303030;
    text-decoration: none;
}

a:visited {
    color: lightgray;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.entrycontent, .feedcontent {
    background: white;
    font-size: 12pt;
    transition-delay: 0.5s;
    transition-property: visibility;
    visibility: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    width: calc(34vw - 20px);
    padding: 10px;
    height: calc(100vh - 20px);
    overflow: auto;
}

li:hover > .entrycontent, .feed:hover:not(:has(ul:hover)) > .feedcontent {
    transition-delay: 0.5s;
    transition-property: visibility;
    visibility: visible;
}

.entrycontent h1, .group .feedcontent .feedtitle {
    font-size: 14pt;
}

a.feedurl {
    font-weight: normal;
}

.entryinfo {
    font-style: italic;
}

.entrycontent h1.feedtitle, .feedcontent .feedtitle, .grouptitle {
    font-size: 18pt;
    margin-top: 0px;
}

.entrycontent h1.entrytitle {
    font-size: 16pt;
}

.entrycontent figure {
    margin: 0px;
    padding: 0px;
}

.entrycontent img {
    --max-width: 34vw;
    object-fit: contain;
    max-width: calc(var(--max-width) - 22px);
    max-height: calc(var(--max-width) * var(--aspect-ratio) - 22px)
}

.entrycontent h1 a:visited {
    color: #303030;
}

.entrycontent a {
    font-weight: bold;
}
